server:
  port: 8080

spring:
  application:
    name: simple-webapp
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
  devtools:
    restart:
      enabled: true

logging:
  level:
    root: INFO
    com.example.webapp: DEBUG
